// Module imports
@import 'modules/variables'
@import 'modules/easings'

@import 'kouto-swiss'

meyer-reset()

.clear
	clear both
	display block
	height 0
	width 0

body
html
	font-family 'Roboto', sans-serif
	font-weight 400
